
<ion-content>
 
  <ion-item lines="none">
    <ion-icon name="chevron-back-outline" size="large" color="primary" (click)="navBack()"></ion-icon>
    <ion-button [routerLink]="['administration-association',Association.id]" shape="circle"slot="end" color="primary" *ngIf="Association!=null && Association.idDonateurs.includes(Id)==true">
      <ion-icon size="large" name="cog-sharp"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item style="width:100%;margin-bottom:2%"lines="none" *ngIf="Association!=null">
    <ion-thumbnail class="image" slot="start" >
      <img  style="border-radius:10px" [src]="Association.media.length>0?storage+Association.media[0].filePath:'../../../../assets/images/community.png'" />
    </ion-thumbnail>
    <ion-col style="text-align: left;margin:0;padding:0">
      <ion-row>
       <ion-text style="font-weight: bold">{{Association.name}}</ion-text>
      </ion-row>
      <ion-row style="margin-top:2%;font-weight: bold;">
        <ion-text style="color:gray">{{Association.type}}</ion-text>
      </ion-row>
      <ion-row style="margin-top:2%">
        <ion-text style="color:gray">Creer depuis le {{Association.created_at|date:'dd/mm/yyyy'}}</ion-text>
      </ion-row>
    </ion-col>
  </ion-item>
  <ion-row *ngIf="Association!=null" style="width:100%;display: flex;border-bottom: 1px dashed rgb(207, 207, 207);border-top: 1px dashed rgb(207, 207, 207)" >
    <ion-col style="text-align: center;margin-top:2%"*ngIf="Association.attenteId.includes(Id)!=true && Association.idDonateurs.includes(Id)!=true" >
      <ion-text style="width:100%;height:100%;vertical-align: middle;">Devenir un membre </ion-text>
    </ion-col>
    <ion-col style="text-align: center">
      <ion-button color="danger" *ngIf="Association.attenteId.includes(Id)!=true && Association.idDonateurs.includes(Id)!=true">
        <ion-text>
          Membre
        </ion-text>
      </ion-button>
      <ion-text color="success" *ngIf="Association.attenteId.includes(Id)==true">
         Demande d'adhesion envoye 
      </ion-text>
      <ion-text color="primary" *ngIf="Association.idDonateurs.includes(Id)==true">
        Vous etes membre de cette association
     </ion-text>
      
    </ion-col>
  </ion-row>
  <!-- --------------- -->
  <ion-row class="ion-margin-top">
      <ion-item lines="none">
        <ion-text style="font-weight:bold"> Plus d'informations</ion-text>
        <ion-icon name="caret-down" color="primary"></ion-icon>
        <ion-icon name="chatbox-ellipses-outline" slot="end" color="light"></ion-icon>
      </ion-item>
  </ion-row>
  <ion-item lines="none" style="margin-bottom:2.5%" *ngIf="Association!=null">
    <ion-col size="6" style="margin-top:0;padding-top:0">
     <ion-row><ion-text style="font-weight:bold" color="primary">Categorie</ion-text></ion-row>
     <ion-row><ion-text style="color:rgb(0, 0, 0);margin-top:10px ;">{{Association.category}}</ion-text></ion-row>
    </ion-col>
    <ion-col size="6" style="margin-top:0;padding-top:0">
      <ion-row><ion-text style="font-weight:bold" color="primary">Type</ion-text></ion-row>
      <ion-row><ion-text style="color:rgb(0, 0, 0);margin-top:10px ;">{{Association.type}}</ion-text></ion-row>
    </ion-col>
    </ion-item>
    <ion-item lines="none" style="margin-bottom:2.5%" *ngIf="Association!=null">
      <ion-col size="6" style="margin-top:0;padding-top:0">
       <ion-row><ion-text style="font-weight:bold" color="primary">Pays</ion-text></ion-row>
       <ion-row><ion-text style="color:rgb(0, 0, 0);margin-top:10px ;">{{Association.pays}}</ion-text></ion-row>
      </ion-col>
      <ion-col size="6" style="margin-top:0;padding-top:0">
        <ion-row><ion-text style="font-weight:bold" color="primary">Ville</ion-text></ion-row>
        <ion-row><ion-text style="color:rgb(0, 0, 0);margin-top:10px ;">{{Association.ville}}</ion-text></ion-row>
      </ion-col>
      </ion-item>
      <ion-item lines="none" style="margin-bottom:2.5%" *ngIf="Association!=null">
        <ion-col size="6" style="margin-top:0;padding-top:0">
         <ion-row><ion-text style="font-weight:bold" color="primary">Adresse</ion-text></ion-row>
         <ion-row><ion-text style="color:rgb(0, 0, 0);margin-top:10px ;">{{Association.adresse}}</ion-text></ion-row>
        </ion-col>
        <ion-col size="6" style="margin-top:0;padding-top:0">
          <ion-row><ion-text style="font-weight:bold" color="primary">Contact principale</ion-text></ion-row>
          <ion-row><ion-text style="color:rgb(0, 0, 0);margin-top:10px ;">{{Association.contact}}</ion-text></ion-row>
        </ion-col>
        </ion-item>
  <!-- ------------- -->
  <ion-row class="ion-margin-top">
    <ion-item lines="none">
      <ion-text style="font-weight:bold"> Description de l'association</ion-text>
      <ion-icon name="caret-down" color="primary"></ion-icon>
      <ion-icon name="chatbox-ellipses-outline" slot="end" color="light"></ion-icon>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-padding-horizontal" style="text-align:left">
      <ion-text color="medium-shade" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</ion-text>
    </ion-col>
  </ion-row>
<!--  -->
  <ion-row class="ion-margin-top">
    <ion-item lines="none">
      <ion-text style="font-weight:bold">Nous contacter</ion-text>
      <ion-icon name="call-outline" color="primary" class="ion-margin-horizontal" ></ion-icon>
      <ion-icon name="chatbox-ellipses-outline" slot="end" color="light"></ion-icon>
    </ion-item>
  </ion-row>

  <ion-row>
    <ion-item lines="none">
        <ion-button shape="circle">
          <ion-icon size="large" name="call-outline"></ion-icon>
        </ion-button>
        <ion-button shape="circle" color="success">
          <ion-icon size="large" name="logo-whatsapp"></ion-icon>
        </ion-button>
        <ion-button shape="circle" color="primary">
          <ion-icon size="large" name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-row>
  <!-- GALERIES -->
  <div *ngIf="Association!=null">
    <ion-item lines="none">
        <ion-text style="font-weight:bold"> Galerie</ion-text>
        <ion-icon name="images-outline" color="primary" class="ion-margin-horizontal"></ion-icon>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  <ion-row>
    <ion-col size="12" style="display:flex;justify-content: center;">
      <ion-thumbnail class="image" *ngFor="let image of Association.media;let i = index" style="margin:1%;">
        <img [src]="storage+Association.media[i].filePath" />
      </ion-thumbnail>
    </ion-col>
  </ion-row>
</div>
<!-- ----------- -->
<ion-row class="ion-margin-top">
  <ion-item lines="none">
      <ion-text style="font-weight:bold"> Activites</ion-text>
      <ion-icon name="bar-chart-outline" color="primary" class="ion-margin-horizontal"></ion-icon>
      <ion-icon name="chatbox-ellipses-outline" slot="end" color="light"></ion-icon>
  </ion-item>
</ion-row>
<ion-item lines="none" *ngIf="Association!=null" (click)="openMouvementsModal()">
  <ion-icon name="calendar-outline" slot="start"></ion-icon>
  <ion-text slot="start"><strong>{{Association.mouvement.length}}</strong> &ensp; Mouvements organises </ion-text>
  <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
</ion-item>
<ion-item lines="none" *ngIf="Association!=null" (click)="openAnnoncesModal()">
  <ion-icon name="megaphone-outline" slot="start"></ion-icon>
  <ion-text slot="start"><strong>{{Association.annonce.length}}</strong> &ensp; Annonces publies </ion-text>
  <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
</ion-item>
<ion-item lines="none" *ngIf="Association!=null">
  <ion-icon name="people-outline" slot="start"></ion-icon>
  <ion-text slot="start"><strong>{{Association.membres.length}}</strong> &ensp; membres / administrateurs </ion-text>
  <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
</ion-item>
<ion-item lines="none" *ngIf="Association!=null">
  <ion-icon name="gift-outline" slot="start"></ion-icon>
  <ion-text slot="start"><strong>{{Association.don.length}}</strong> &ensp; dons </ion-text>
  <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
</ion-item>
</ion-content>
