<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="danger"></ion-refresher-content>
  </ion-refresher>
  <ion-row slot="fixed" style="width: 100%;">
    <ion-fab style="margin-top:5px" horizontal="start" (click)="navBack()">
      <ion-fab-button color="light">
          <ion-icon name="chevron-back-outline" size="large" color="danger"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-button *ngIf="nbreReserve>0" style="position:absolute;right:5%;margin-top:4%;display: flex;flex-direction:row;" color="danger">
      <ion-icon name="people-outline"></ion-icon>
    <ion-text style="font-weight:bolder;font-size:1.3em;color:white;margin-top:5px;margin-left:5px">{{nbreReserve}}</ion-text>
    </ion-button>
    <ion-button *ngIf="nbreReserve==0" style="position:absolute;right:5%;margin-top:4%;display: flex;flex-direction:row;" color="success">
      <ion-icon name="people-outline"></ion-icon>
    <ion-text style="font-weight:bolder;font-size:1.3em;color:white;margin-top:5px;margin-left:5px">{{nbreReserve}}</ion-text>
    </ion-button>
    <div *ngIf="reserve" style="position: absolute;margin-top:25%;background-color:#ec566a;padding:10%;opacity:0.5">
      <ion-text style="font-weight:bold;color:white;font-size: 1.5rem;">Reserve</ion-text>
      </div>
    </ion-row>
    
    <ion-slides pager="true" [options]="slideOpts" *ngIf="don!=null" style="height:35%;position:relative;opacity: {{reserve?0.5:1}}">
      
      <ion-slide *ngFor="let img of don.media" >
        <ion-img
        [src]="storage+img.filePath"
          class="imgProduct"></ion-img>
      </ion-slide>
      <ion-slide *ngIf="don.media.length<1">
        <ion-img src="../../../../assets/images/empty.webp"  class="imgProduct">
        </ion-img>
      </ion-slide>
      
    </ion-slides>
     <ion-grid *ngIf="don!=null" style="margin-top:0;padding-top:0">
        <ion-item lines="none">
          <ion-text style="font-weight: bold;font-size:1.3em">{{don.titre}}</ion-text>
          <ion-icon name="create-outline" color="danger" size="large" slot="end" *ngIf="myId==don.donateur.id"></ion-icon>
        </ion-item>
        <ion-item lines="none"> 
          <ion-text style="font-weight: bold;color:gray"> publie <strong style="color:black">{{elapsedTime}}</strong></ion-text>
        </ion-item>
        <ion-item lines="none" style="text-align:left">
          <ion-title style="font-weight: bold;padding-left: 0;">Informations</ion-title>
        </ion-item>
        <ion-item lines="none" style="margin-bottom:2.5%">
        <ion-col size="8" style="margin-top:0;padding-top:0">
         <ion-row><ion-text style="font-weight:bold">Categorie</ion-text></ion-row>
         <ion-text style="color:rgb(0, 0, 0);margin-top:10px ;">{{don.category}}</ion-text>
        </ion-col>
        <ion-col size="4" style="margin-top:0;padding-top:0">
          <ion-row><ion-text style="font-weight:bold">Etat</ion-text></ion-row>
          <ion-text style="color:rgb(0, 0, 0);margin-top:10px ;">{{don.etat}}</ion-text>
        </ion-col>
        </ion-item>
        <ion-item lines="none" style="margin-bottom:2.5%">
          <ion-col size="12" style="margin-top:0;padding-top:0">
           <ion-row><ion-text style="font-weight:bold">Lieu</ion-text></ion-row>
           <ion-text style="color:rgb(0, 0, 0);margin-top:5px">{{don.adresse}}</ion-text>
          </ion-col>
          </ion-item>
          <ion-item lines="none" style="text-align:left">
            <ion-title style="font-weight: bold;padding-left: 0;">Description</ion-title>
          </ion-item>
          <ion-item lines="none" style="margin-bottom:5%">
            <ion-col size="12">
            <ion-text style="color:rgb(0, 0, 0);margin-top:10%;">{{don.description}}</ion-text>
            </ion-col>
          </ion-item>
          <ion-item lines="none" style="text-align:left;margin-bottom:5%">
            <ion-col size="12" style="margin-left:0;padding-left:0">
              <ion-row><ion-title style="font-weight: bold;padding-left: 0;">Diponibilite</ion-title></ion-row>
             <ion-text style="color:rgb(0, 0, 0);margin-top:25px;margin-left:2%">Le week-end </ion-text>
             </ion-col>
          </ion-item>
          
          <ion-item style="width:100%;border-bottom:1px solid rgb(91, 91, 91);border-bottom-style:dashed;border-top:1px solid rgb(91, 91, 91);border-top-style:dashed;" lines="none" 
          [routerLink]="['/profil-donateur',don.donateur.id]">
            <ion-thumbnail slot="start" >
              <img style="border-radius:10px" [src]="don.donateur.media.length>0?storage+don.donateur.media[0].filePath:'../../../../assets/images/full-moon.png'" />
            </ion-thumbnail>
            <ion-col style="text-align: left">
              <ion-row>
               <ion-text style="font-weight: bold">{{don.donateur.name}} {{don.donateur.surname}}</ion-text>
              </ion-row>
              <ion-row>
                <ion-text style="color:gray"> donateur/necessiteux</ion-text>
              </ion-row>
            </ion-col>
            <ion-icon name="chevron-forward-outline" size="large" slot="end"></ion-icon>
          </ion-item>
          <ion-item lines="none" style="text-align:left">
            <ion-title style="font-weight: bold;padding-left: 0;">Partager cette annonce</ion-title>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="logo-whatsapp" color="success" size="large"></ion-icon>
            <ion-icon name="ellipsis-horizontal-circle-sharp" color="dark" size="large" style="margin-left:10px"></ion-icon>
          </ion-item>
          <ion-item lines="none" style="text-align:left">
            <ion-title style="font-weight: bold;padding-left: 0;">Localisation</ion-title>
          </ion-item>
          <ion-item lines="none">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d63693.27239988237!2d11.5080475!3d3.8467449!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2scm!4v1661874465059!5m2!1sfr!2scm" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </ion-item>

          <ion-item lines="none" style="text-align:left">
            <ion-title style="font-weight: bold;padding-left: 0;">Annonces Similaires</ion-title>
          </ion-item>
          <ion-grid style="display: flex; flex-wrap:wrap;justify-content: space-between;">
            <div *ngFor="let don of donsSimilaires" style="width:50%">
            <ion-card  [routerLink]="['/menu/dons/details',don.id]"style="width:90%">
              <div style="width:100%;height:150px;margin:0;padding:0;background-size:cover;"
              [style.background-image]="image(don)"
              >
                
              </div>
                <ion-item>
                  <ion-text style="font-weight: bold">{{don.titre | slice:0:20}}{{don.titre.length>20?'...':''}}</ion-text>
                </ion-item>
            <ion-item>
              <ion-icon name="location-outline" color="danger"></ion-icon>
              <ion-label>{{don.adresse}}</ion-label>
          </ion-item>
            </ion-card>
          </div>
          </ion-grid>
     </ion-grid>

     <div style="margin-bottom:10%"></div>
</ion-content>
<ion-card style="padding:0;margin:0" *ngIf="don!=null&&myId!=don.donateur.id">
  <ion-row>
    <ion-col size="2">
      <ion-thumbnail>
      <img style="border-radius:10px"  [src]="don.donateur.media.length>0?storage+don.donateur.media[0].filePath:'../../../../assets/images/full-moon.png'" />
      </ion-thumbnail>
    </ion-col>
    <ion-col size="5"class="ion-margin-top">
            <ion-text style="font-weight: bold">{{don.donateur.name}} {{don.donateur.surname}}</ion-text>
    </ion-col>
    <ion-col size="5">
      <ion-button expand="block" color="danger" [routerLink]="['/salon',don.donateur.id,myId,0,don.id]">Contacter</ion-button>
    </ion-col>
    
      
  </ion-row>
  
</ion-card>
