<ion-tabs>

  <ion-tab-bar id="app-tab-bar" slot="bottom">
    <ion-tab-button tab="associations">
      <ion-icon name="body-outline" size="large"> </ion-icon>
      <ion-text  style="font-weight:bold;margin-top:5px">Associations</ion-text>
    </ion-tab-button>
    
    <ion-tab-button tab="dons">
      <ion-icon name="gift-outline" size="large"></ion-icon>
      <ion-text  style="font-weight:bold;margin-top:5px">Dons</ion-text>
    </ion-tab-button>

    <ion-tab-button tab="demandes">
      <ion-icon name="hand-left-outline"size="large" ></ion-icon>
      <ion-text  style="font-weight:bold;margin-top:5px">Demandes</ion-text>
    </ion-tab-button>

    

    <ion-tab-button tab="messages">
      <ion-icon name="chatbox-outline" size="large"></ion-icon>
      <ion-text style="font-weight:bold;margin-top:5px">Messages</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline" size="large"></ion-icon>
      <ion-text style="font-weight:bold;margin-top:5px">parametres</ion-text>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
