<ion-tabs>

  <ion-tab-bar id="app-tab-bar" slot="bottom">
    <ion-tab-button tab="dons">
      <ion-icon name="gift-outline" size="large"></ion-icon>
      <ion-text>Dons</ion-text>
    </ion-tab-button>

    <ion-tab-button tab="demandes">
      <ion-icon name="hand-left-outline" size="large"></ion-icon>
      <ion-text>Demandes</ion-text>
    </ion-tab-button>

    <ion-tab-button tab="annonces">
      <ion-icon name="megaphone-outline" size="large"></ion-icon>
      <ion-text>Annonces</ion-text>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="chatbox-outline" size="large"></ion-icon>
      <ion-text>Messages</ion-text>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
