ion-tab-button{
    font-size: 10px;
    --background-focused: #eb445a;
    --color-selected: #eb445a;
    --padding-end: 0px;
    --padding-start: 10px;
    --padding-bottom: 0px;
    --margin-left:0px;
    --margin-right:0px;
    max-width:100px;
    ion-icon{
        font-size: 67.5px;
    }}