
<ion-content>
<ion-grid class="grid">
  <ion-row>
    <ion-img src="../../../assets/images/undraw_Deliveries_2r4y (1).png"></ion-img>
  </ion-row>
  <ion-row class="title">
    <ion-col size="12">
     <ion-title> A donation can save a life</ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="subtitle">
    <ion-col size="12">
    <ion-text>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
    </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="started">
    <ion-col size="12">
      <ion-button expand="block" color="danger" routerLink="/login">
        Get Started
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
