
.image{
    min-width: 5rem;    
    min-height: 5rem;
    img {
        max-width: 5rem;    
        min-width: 5rem;
    }
}
.iframe{
    width: 100%;
    height:230px
}
ion-button[shape=circle] {
    --border-radius: 50%;
    width: 36px;
    height: 36px;
}

.my-card{
    width:65%;
    float:right;
    display: flex;
    flex-wrap: wrap;
    & .date-message{
        color:rgb(170, 169, 169);
        width: 100%;
        float: right;
        text-align: right;
        font-weight: bold;
        margin-top:5px
    }
    & .my-message-card{
        background-color:#ec566a ;
        border:0.5px solid rgb(195, 195, 195);
        width:100%;
        margin-top:5%;
        float: right;
        border-top-left-radius: 8px;
        border-top-right-radius:8px;
        border-bottom-left-radius: 8px;
        & .content{
            font-weight:bold;color:white
        }
        
    }
}
.her-card{
    width:65%;
    float:left;
    display: flex;
    flex-wrap: wrap;
    & .date-message{
        color:rgb(170, 169, 169);
        width: 100%;
        text-align: left;
        font-weight: bold;
        margin-top:5px
    }
    & .her-message-card{
        border-top-left-radius: 8px;
        border-top-right-radius:8px;
        border-bottom-right-radius: 8px;
        background-color:#e3e3e3 ;
        border:0.5px solid rgb(195, 195, 195);
        width:100%;
        margin-top:5%;
        float: left;
        & .content{
            font-weight: bold;
        }
        
    }
}