<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" size="large" color="danger" slot="start" (click)="navBack()"></ion-icon>
    <ion-title>creation-association</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="checkmark-circle" slot="start" color="danger" size="large"></ion-icon>
    <ion-text>Creation : </ion-text><ion-text style="font-weight: bold">Association</ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-icon name="ellipse-outline" slot="start" size="large" *ngIf="associationName==''"></ion-icon>
    <ion-icon name="checkmark-circle" slot="start" color="danger" size="large" *ngIf="associationName!=''"></ion-icon>
    <ion-row><ion-text>Nom de l'association: </ion-text></ion-row>
  </ion-item>
  <ion-item class="input ion-margin-horizontal">
    <ion-row><ion-input [(ngModel)]="associationName" type="text" placeholder="Ex : Nom de l'association... " maxlength="45"></ion-input></ion-row>
  </ion-item>
  <!-- ------------------- -->
  <ion-item lines="none">
    <ion-icon name="ellipse-outline" slot="start" size="large" *ngIf="associationCreatorName==''"></ion-icon>
    <ion-icon name="checkmark-circle" slot="start" color="danger" size="large" *ngIf="associationCreatorName!=''"></ion-icon>
    <ion-text>Nom et prenom Createur : </ion-text>
  </ion-item>
  <ion-item class="input ion-margin-horizontal">
    <ion-row><ion-input [(ngModel)]="associationCreatorName" type="text" placeholder="Ex : John Doe .. " maxlength="45"></ion-input></ion-row>
  </ion-item>
  <!-- ------------------------ -->
  <ion-item lines="none">
    <ion-icon name="ellipse-outline" slot="start" size="large" *ngIf="paysAssociation==''"></ion-icon>
    <ion-icon name="checkmark-circle" slot="start" color="danger" size="large" *ngIf="paysAssociation!=''"></ion-icon>
    <ion-text>Pays : </ion-text>
  </ion-item>
  <ion-row *ngIf="pays!=null">
    <ion-col size="12">
      <ion-item class="input ion-form-group">
        <ion-select interface="action-sheet" placeholder="Selectionnez votre pays" [(ngModel)]="paysAssociation" (ionChange)="filterPays($event)">
          <ion-select-option [value]="country.name" *ngFor="let country of pays_temp" > {{country.flag}}{{country.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item lines="none">
    <ion-icon name="ellipse-outline" slot="start" size="large" *ngIf="villeAssociation==''"></ion-icon>
    <ion-icon name="checkmark-circle" slot="start" color="danger" size="large" *ngIf="villeAssociation!=''"></ion-icon>
    <ion-text>Ville : </ion-text>
  </ion-item>
  <ion-row *ngIf="pays!=null">
    <ion-col size="12">
      <ion-item class="input">
        <ion-select interface="action-sheet" placeholder="Selectionnez votre ville" [(ngModel)]="villeAssociation">
          <ion-select-option *ngFor="let city of ville_temp" [value]="city">{{city}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- ---------------------- -->
  <ion-item lines="none">
    <ion-icon name="ellipse-outline" slot="start" size="large" *ngIf="contactAssociation.length<1 ||  codeContactAssociation.length<1 "></ion-icon>
    <ion-icon name="checkmark-circle" slot="start" color="danger" size="large" *ngIf="contactAssociation.length>1 && codeContactAssociation.length>1 "></ion-icon>
    <ion-text>Contact : </ion-text>
  </ion-item>
  <ion-row>
    <ion-col size="12">
      <ion-item class="input">
        <ion-text style="font-weight:bold" slot="start">
          {{codeContactAssociation}}
        </ion-text>
        <ion-input placeholder="Votre contact" type="number" [(ngModel)]='contactAssociation'></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
<!-- ---------------------- -->

<!-- ------------------------------------ -->
<ion-item lines="none">
  <ion-icon name="ellipse-outline" slot="start" size="large" *ngIf="numeroContribuable ==''  ||  numeroContribuable=='' "></ion-icon>
  <ion-icon name="checkmark-circle" slot="start" color="danger" size="large" *ngIf="numeroContribuable!='' && numeroContribuable!='' "></ion-icon>
  <ion-text>Numero contribuable : </ion-text>
</ion-item>
<ion-row>
  <ion-col size="12">
    <ion-item class="input">
      <ion-input placeholder="Numero contribuable" type="number" [(ngModel)]='numeroContribuable'></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<!-- ----------- -->
<ion-item lines="none">
  <ion-icon name="ellipse-outline" slot="start" size="large" *ngIf="numeroContribuable ==''  ||  numeroContribuable=='' "></ion-icon>
  <ion-icon name="checkmark-circle" slot="start" color="danger" size="large" *ngIf="numeroContribuable!='' && numeroContribuable!='' "></ion-icon>
  <ion-text slot="start">Code Secret : </ion-text>
</ion-item>
<ion-row>
  <ion-col size="12">
    <ion-item class="input">
      <ion-input [type]="password_confirm_input_type" placeholder="Code Secret" [(ngModel)]="password"></ion-input>
      <ion-icon name="eye-off-outline" *ngIf="password_confirm_input_type=='password'" (click)="changePassConfirmInputType()"></ion-icon>
    <ion-icon name="eye-outline" *ngIf="password_confirm_input_type=='text'" (click)="changePassConfirmInputType()"></ion-icon>
      <!-- <ion-note slot="error" *ngIf="(confirmPassword.dirty||confirmPassword.touched)&& confirmPassword.errors">invalid confirmPassword</ion-note> -->
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="12">
    <ion-item class="input">
      <ion-input [type]="password_confirm_input_type" placeholder="Confirmez Code secret" [(ngModel)]="passwordConfirmation"></ion-input>
      <ion-icon name="eye-off-outline" *ngIf="password_confirm_input_type=='password'" (click)="changePassConfirmInputType()"></ion-icon>
    <ion-icon name="eye-outline" *ngIf="password_confirm_input_type=='text'" (click)="changePassConfirmInputType()"></ion-icon>
      <!-- <ion-note slot="error" *ngIf="(confirmPassword.dirty||confirmPassword.touched)&& confirmPassword.errors">invalid confirmPassword</ion-note> -->
    </ion-item>
  </ion-col>
</ion-row>
<!-- ------------ -->
<ion-item lines="none" (click)="locationSheet()">
  <ion-icon name="ellipse-outline" slot="start" size="large" *ngIf="latitudeAssociation==null || longitudeAssociation==null"></ion-icon>
  <ion-icon name="checkmark-circle" slot="start" color="danger" size="large" *ngIf="latitudeAssociation!=null || longitudeAssociation!=null"></ion-icon>
  <ion-icon name="location" color="danger"></ion-icon>
  <ion-text style="margin-left:10px">{{adresseAssociation}}</ion-text>
  <ion-icon name="chevron-forward-outline"  color="medium" slot="end"></ion-icon>
</ion-item>
<!-- ------------ -->

</ion-content>
<ion-footer>
  <ion-card-subtitle style="color:grey" class="ion-margin">
    Votre adresse restera confidentielle et ne sera jamais affiche publiquement , elle nous permet d'afficher un point aleatoire dans un rayoun de 600 m dee vous 
    </ion-card-subtitle>
    <ion-card style="width:100%;margin:0">
    <ion-button expand="block" color="danger"  class="ion-margin"[disabled]="!validationDonation" >Creer Association </ion-button>
    </ion-card>
</ion-footer>
