<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" size="large" color="primary" slot="start" (click)="navBack()"></ion-icon>
    <ion-title>creation-association</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-icon name="checkmark-circle" slot="start" color="primary" size="large"></ion-icon>
    <ion-text>Creation : </ion-text><ion-text style="font-weight: bold">Association</ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-icon name="ellipse-outline" slot="start" size="large" *ngIf="selectedImages.length<1"></ion-icon>
    <ion-icon name="checkmark-circle" slot="start" color="primary" size="large" *ngIf="selectedImages.length>=1"></ion-icon>
    <ion-row><ion-text>Image(s): </ion-text></ion-row>
  </ion-item>
  <ion-row style="width:100%" class="ion-margin-horizontal"> 
    <ion-text color="medium">la premiere image constituera celle du profil de l'association et les autres ferons partis de la gallerie de votre association</ion-text>
  </ion-row>
  
  <ion-item lines="none">
    <ion-thumbnail slot="start" *ngFor="let image of selectedImages;let i = index" style="position:relative">
      <ion-fab-button color="primary" style="position: absolute; top: 0; right: 0;" size="small" (click)="removeOnImagesList(i)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <img [src]="image.data" />
    </ion-thumbnail>
    
    <div class="camera" (click)="getPicture()" *ngIf="selectedImages.length<5">
      <ion-icon name="camera-outline" size="large" color="medium" ></ion-icon>
    </div>
  </ion-item>
  <ion-item lines="none">
    <!-- <ion-icon name="ellipse-outline" slot="start" size="large" *ngIf="selectedImages.length<1"></ion-icon>
    <ion-icon name="checkmark-circle" slot="start" color="primary" size="large" *ngIf="selectedImages.length>=1"></ion-icon> -->
    <ion-row><ion-text>Joindre document(s) association: </ion-text></ion-row>
  </ion-item>
  <ion-item lines="none">
    <!-- <ion-thumbnail slot="start" *ngFor="let image of selectedImages;let i = index" style="position:relative">
      <ion-fab-button color="primary" style="position: absolute; top: 0; right: 0;" size="small" (click)="removeOnImagesList(i)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <img [src]="image.data" />
    </ion-thumbnail> -->
    <div class="camera" >
      <ion-icon name="document-attach-outline" size="large" color="medium" ></ion-icon>
    </div>
  </ion-item>
  <!--  -->
  <ion-row *ngIf="pays!=null">
    <ion-col size="12">
      <ion-item class="input ion-form-group">
        <ion-select interface="action-sheet" placeholder="Selectionnez votre pays" (ionChange)="filterPays($event)" [(ngModel)]="paysAssociation">
          <ion-select-option [value]="country.name" *ngFor="let country of pays_temp" > {{country.flag}}{{country.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- ------------------- -->
  
  <ion-row *ngIf="pays!=null">
    <ion-col size="12">
      <ion-item class="input">
        <ion-select interface="action-sheet" placeholder="Selectionnez votre ville" [(ngModel)]="villeAssociation">
          <ion-select-option *ngFor="let city of ville_temp" [value]="city">{{city}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- ---------------------- -->
  
  <form [formGroup]="credential">
  <ion-row>
    <ion-col size="12">
      <ion-item class="input">
        <ion-input formControlName="name" type="text"  placeholder="Nom de l'association" maxlength="45"></ion-input>
        <ion-note slot="error" *ngIf="(name.dirty||name.touched)&& name.errors">min 7 characteres</ion-note>
      </ion-item>
    </ion-col>
  </ion-row>
 
  <!-- ------------------- -->
 <ion-row>
  <ion-col size="12">
    <ion-item class="input">
      <ion-input formControlName="nom_responsable" type="text" placeholder="Nom responsable association" maxlength="45"></ion-input>
      <ion-note slot="error" *ngIf="(nom_responsable.dirty||nom_responsable.touched)&& nom_responsable.errors">min 7 characteres</ion-note>
    </ion-item>
  </ion-col>
 </ion-row>
 
  <!-- ------------ -->
  
  <ion-row>
    <ion-col size="12">
      <ion-item class="input">
        <ion-select interface="action-sheet" placeholder="Selectionnez le type de l'association" formControlName="type">
          <ion-select-option *ngFor="let type of typesAssociation" [value]="type">{{type}}</ion-select-option>
        </ion-select>
        <ion-note slot="error" *ngIf="(type.dirty||type.touched)&& type.errors">selectionner le type de votre association</ion-note>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- ------------------------ -->
  
  <ion-row>
    <ion-col size="12">
      <ion-item class="input">
        <ion-select interface="action-sheet" placeholder="Secteur d'activite" formControlName="category">
          <ion-select-option *ngFor="let categorie of categoriesAssociation" [value]="categorie">{{categorie}}</ion-select-option>
          <ion-note slot="error" *ngIf="(category.dirty||category.touched)&& category.errors">selectionnez une categorie </ion-note>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- ------------------------ -->
  <ion-row>
    <ion-col size="12">
      <ion-item class="input">
        <ion-textarea formControlName="description"  placeholder="Aide : Donnez une description complete de votre association , son objectifs afin de pouvoir convaincre les potentiels donateurs ou membres a adherer a votre projet "
           maxlength="300" rows="4"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="12">
      <ion-item class="input">
        <ion-text style="font-weight:bold" slot="start">
          {{codeContactAssociation}}
        </ion-text>
        <ion-input placeholder="Votre contact" type="number" formControlName="contact"></ion-input>
        <ion-note slot="error" *ngIf="(contact.dirty||contact.touched)&& contact.errors">contact invalide</ion-note>
      </ion-item>
    </ion-col>
  </ion-row>
<!-- ---------------------- -->

<ion-row>
  <ion-col size="12">
    <ion-item class="input">
      <ion-input [type]="password_confirm_input_type" placeholder="Code Secret" formControlName="password"></ion-input>
      <ion-icon name="eye-off-outline" *ngIf="password_confirm_input_type=='password'" (click)="changePassConfirmInputType()"></ion-icon>
    <ion-icon name="eye-outline" *ngIf="password_confirm_input_type=='text'" (click)="changePassConfirmInputType()"></ion-icon>
      <!-- <ion-note slot="error" *ngIf="(confirmPassword.dirty||confirmPassword.touched)&& confirmPassword.errors">invalid confirmPassword</ion-note> -->
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="12">
    <ion-item class="input">
      <ion-input [type]="password_confirm_input_type" placeholder="Confirmez Code secret" formControlName="password_confirmation"></ion-input>
      <ion-icon name="eye-off-outline" *ngIf="password_confirm_input_type=='password'" (click)="changePassConfirmInputType()"></ion-icon>
    <ion-icon name="eye-outline" *ngIf="password_confirm_input_type=='text'" (click)="changePassConfirmInputType()"></ion-icon>
      <!-- <ion-note slot="error" *ngIf="(confirmPassword.dirty||confirmPassword.touched)&& confirmPassword.errors">invalid confirmPassword</ion-note> -->
    </ion-item>
  </ion-col>
</ion-row>
<!-- ------------ -->
<ion-item lines="none" (click)="locationSheet()">
  <ion-icon name="ellipse-outline" slot="start" size="large" *ngIf="latitudeAssociation==null || longitudeAssociation==null"></ion-icon>
  <ion-icon name="checkmark-circle" slot="start" color="primary" size="large" *ngIf="latitudeAssociation!=null || longitudeAssociation!=null"></ion-icon>
  <ion-icon name="location" color="primary"></ion-icon>
  <ion-text style="margin-left:10px">{{adresseAssociation}}</ion-text>
  <ion-icon name="chevron-forward-outline"  color="medium" slot="end"></ion-icon>
</ion-item>
<!-- ------------ -->
</form>
</ion-content>
<ion-footer>
  <ion-card-subtitle style="color:grey" class="ion-margin">
    Une fois le processus de creation termine , l'association ne sera valide qu'apres un controle des documents faits par les administrateurs de la plateforme.Ce processud de verification peux prendre 1 semaine apres quoi votre association sera disponible suir la plateforme
    </ion-card-subtitle>
    <ion-card style="width:100%;margin:0">
    <ion-button expand="block" color="primary" (click)="createAssociation()"  class="ion-margin" >Creer Association </ion-button>
    </ion-card>
</ion-footer>
