
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="end" color="primary" (click)="confirm()">
      <ion-text>Fermer</ion-text>
      <ion-icon name="close-circle-outline" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let annonce of Annonces">
      <div [routerLink]="['/details-annonce',annonce.id]" style="padding:0;margin:0;height:180px;width:100%;background-size:cover;background-position: center;
      background-image: url({{annonce.media.length>0?storage+annonce.media[0].filePath:'../../../../assets/images/user.png'}})">
      </div>
      <ion-item style="width:100%;padding:0;margin:0" lines="none"  [routerLink]="['/details-annonce',annonce.id]">
        <ion-text style="font-weight:bold;text-align: center;font-size: 1em;">{{annonce.title | slice:0:30}}{{annonce.title.length > 30 ? '&hellip;':'' }}</ion-text>
      </ion-item>
      <ion-item lines="none" [routerLink]="['/details-annonce',annonce.id]">
        <ion-text style="color:gray;font-size:0.8em">
        {{annonce.intitule| slice:0:200}}{{annonce.intitule.length > 200 ? '&hellip;':'' }}
        </ion-text>
      </ion-item>
        <ion-item lines="none"  style="width: 100%;">
            <ion-text slot="end" style="margin-top:10px">{{annonce.nbLikes}}</ion-text>
            <ion-icon slot="end"   name="heart" size="large" ></ion-icon>
        </ion-item>
    </ion-card>
    
  </ion-list>
  
</ion-content>
