<ion-header>
  <ion-row style="width: 100%;">
    <ion-col class="logo" size="10">
      <ion-text class="title">BRIDGE</ion-text>
      
    </ion-col>
    <ion-col>
      <ion-col size="2" style="text-align:center;margin-left:5%" [routerLink]="['/notifications',id]"> 
        <ion-icon name="notifications" size="large" color="warning"></ion-icon>
        <ion-badge style="position:absolute;top:0;right:0" color="danger">{{notifications.length}}</ion-badge>
      </ion-col>
    </ion-col>
  </ion-row>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment" color="danger">
    <ion-segment-button value="annonces">
      <ion-label>Annonces</ion-label>
    </ion-segment-button>
    <ion-segment-button value="evenements">
      <ion-label>Evenements</ion-label>
    </ion-segment-button>
    <ion-segment-button value="besoins">
      <ion-label>Besoins</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="danger"></ion-refresher-content>
  </ion-refresher>
    <ion-list *ngIf="selectedSegment=='annonces'">
      <ion-card *ngFor="let annonce of Annonces">
        <div [routerLink]="['/details-annonce',annonce.id]" style="padding:0;margin:0;height:180px;width:100%;background-size:cover;background-position: center;
        background-image: url({{annonce.media.length>0?storage+annonce.media[0].filePath:'../../../../assets/images/user.png'}})">
        </div>
        <ion-row style="width:100%" class="ion-margin-horizontal">
          <ion-col size="1">
            <ion-icon *ngIf="annonce.isLike==false" (click)="like(annonce.id)"  name="heart-outline" size="large" ></ion-icon>
            <ion-icon *ngIf="annonce.isLike==true" (click)="dislike(annonce.id)"  name="heart" color="danger" size="large" ></ion-icon>
          </ion-col>
          <ion-col>
            <ion-row style="width:100%" class="ion-margin-horizontal">
              <ion-text style="margin-top:5px;font-weight: bold;color:black;font-size: 1.3em;">{{annonce.nbLikes}} &ensp;&ensp; <strong style="font-weight:5em">J'aime</strong></ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
       
        <ion-row class="ion-margin-horizontal" style="width:100%" [routerLink]="['/details-annonce',annonce.id]">
          <ion-text style="font-weight:bold;color:black;font-size: 1.5em;">{{annonce.title |lowercase |slice:0:30 }}{{annonce.title.length > 30 ? '&hellip;':'' }}</ion-text>
        </ion-row>
        <ion-item lines="none" [routerLink]="['/details-annonce',annonce.id]">
          <ion-text style="color:rgb(0, 0, 0);font-size:1em">
          {{annonce.intitule| slice:0:200}}{{annonce.intitule.length > 200 ? '&hellip;':'' }}
          </ion-text>
        </ion-item>
        <ion-row class="ion-margin-horizontal" style="width:100%" [routerLink]="['/details-annonce',annonce.id]">
          <ion-text>
            Publie {{timeAgo(annonce.created_at)}}
          </ion-text>
        </ion-row>
        <ion-item  [routerLink]="['/details-association',annonce.association.id]" style="width:100%;" lines="none" class="ion-no-padding ion-no-margin">
          <ion-thumbnail class="ion-margin-start" slot="start" >
            <img style="border-radius:10px" [src]="annonce.association.media.length>0?storage+annonce.association.media[0].filePath:'../../../../assets/images/user.png'" />
          </ion-thumbnail>
          <ion-col style="text-align: left">
            <ion-row >
             <ion-text style="font-weight: bold;font-size: 1.1em;">{{annonce.association.name | lowercase}}</ion-text>
            </ion-row >
            <ion-row style="margin-top:2%">
              <ion-text style="color:gray;font-size:0.8em">{{annonce.association.type |slice:0:30}}{{annonce.association.type.length>30?'....':''}}</ion-text>
            </ion-row >
          </ion-col>
        </ion-item>
      </ion-card>
      
    </ion-list>
  <ion-grid *ngIf="selectedSegment=='evenements'">
    <ion-card *ngFor="let event of Mouvements" lines="none" class="ion-padding-bottom">
      <div  [routerLink]="['/details-evenement',event.id]" style="padding:0;position:relative;margin:0;height:180px;width:100%;background-size:cover;background-position: center;
      background-image: url({{event.media.length>0?storage+event.media[0].filePath:'../../../../assets/images/user.png'}})">
    <ion-button style="position:absolute;float:right" color="danger">
    <ion-icon name="walk-outline"></ion-icon>
    <ion-text color="light" style="font-weight:bold;margin-top:7px">{{event.nbparticipants}}&ensp;participants</ion-text>
    </ion-button>  
    </div>
      <ion-row style="width:100%;margin-left:0" class="ion-margin-horizontal"  [routerLink]="['/details-evenement',event.id]">
        <ion-col size="12">
        <ion-row style="display:flex;">
          <ion-icon name="information-outline" color="danger" size="small"></ion-icon>
          <ion-text style="font-weight:bold;color:black;text-align: center;font-size: 1.2em;align-self: center;margin-left: 2%;" class="ion-margin-horizontal">{{event.intitule| lowercase | slice:0:30}}{{event.intitule > 30 ? '&hellip;':'' }}</ion-text>  
        </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="width:100%;margin-left:0" class="ion-margin-horizontal"  [routerLink]="['/details-evenement',event.id]">
          <ion-col size="12">
          <ion-row style="display:flex;">
            <ion-icon name="today-outline" size="small" color="danger"></ion-icon>
            <ion-text style="color:rgb(0, 0, 0);font-size: 1.1em;align-self: center;margin-left: 2%;"><strong>{{event.date_rencontre | date:'MMM d, y'}} &ensp;</strong> <strong>&ensp;|&ensp;</strong></ion-text>
            <ion-text style="color:rgb(2, 2, 2);font-size:1.1em;align-self: center;"> &ensp;de &ensp;<strong>{{event.heure_debut}}</strong> &ensp; a &ensp; <strong>{{event.heure_fin}}</strong></ion-text>
          </ion-row>
          </ion-col>
        </ion-row>
        <!------------------------->
        <ion-row style="width:100%;margin-left:0;margin-top:0" class="ion-margin-horizontal" [routerLink]="['/details-evenement',event.id]"> 
           <ion-col size="12">
            <ion-row style="display:flex;">
              <ion-icon name="location-outline" size="small" color="danger"></ion-icon>
              <ion-text style="color:rgb(0, 0, 0);font-size: 1.1em;align-self: center;margin-left: 2%;">{{event.association.adresse}}</ion-text>
            </ion-row>
           </ion-col>
        </ion-row>
        <ion-row class="ion-margin-horizontal" style="width:100%" [routerLink]="['/details-annonce',event.association.id]">
          <ion-text>
            Publie {{timeAgo(event.created_at)}}
          </ion-text>
        </ion-row>
          <ion-item style="width:100%;" lines="none"  [routerLink]="['/details-association',event.association.id]">
            <ion-thumbnail slot="start" >
              <img style="border-radius:10px" [src]="event.association.media.length>0?storage+event.association.media[0].filePath:'../../../../assets/images/user.png'" />
            </ion-thumbnail>
            <ion-col style="text-align: left">
              <ion-row>
               <ion-text style="font-weight: bold">{{event.association.name}}</ion-text>
              </ion-row>
              <ion-row style="margin-top:2%">
                <ion-text style="color:gray"> {{event.association.type}}</ion-text>
              </ion-row>
            </ion-col>
          </ion-item>
    </ion-card>
     </ion-grid>
     <ion-grid *ngIf="selectedSegment=='besoins'">
       <ion-card *ngFor="let besoin of Besoins" style="padding-bottom:0" lines="none" class="ion-padding-bottom">
        <ion-item style="width:100%;" lines="none"  [routerLink]="['/details-association',besoin.association.id]">
          <ion-thumbnail slot="start" >
            <img style="border-radius:10px" [src]="besoin.association.media.length>0?storage+besoin.association.media[0].filePath:'../../../../assets/images/user.png'" />
          </ion-thumbnail>
          <ion-col style="text-align: left">
            <ion-row>
             <ion-text style="font-weight: bold">{{besoin.association.name}}</ion-text>
            </ion-row>
            <ion-row style="margin-top:2%">
              <ion-text style="color:gray"> {{besoin.association.type}}</ion-text>
            </ion-row>
          </ion-col>
        </ion-item>
        <!-- <ion-row class="ion-padding-horizontal " *ngIf="besoin.quantite_actuelle>=besoin.quantite">
          <ion-text color="success"> <strong>Besoin resolus</strong></ion-text>
        </ion-row>
        <ion-row class="ion-padding-horizontal " *ngIf="besoin.quantite_actuelle<besoin.quantite">
          <ion-text color="danger"> <strong>Besoin non resolus</strong></ion-text>
        </ion-row> -->
        <ion-row class="ion-margin-horizontal" style="width:100%">
          <ion-text>
            Publie {{timeAgo(besoin.created_at)}}
          </ion-text>
        </ion-row>
        <ion-row class="ion-padding-horizontal ion-margin-bottom">
          <ion-text style="font-weight:bold"><strong style="color:black">Besoin : &ensp;</strong> {{besoin.title| lowercase|slice:0:30}}{{besoin.title.length>30?'...':''}} </ion-text>
        </ion-row>
        <ion-row class="ion-padding-horizontal ion-margin-top ion-margin-bottom">
           <ion-text style="font-weight:bold"><strong style="color:black">Description : &ensp;</strong> {{besoin.contenu|slice:0:150}}{{besoin.contenu.length>150?'...':''}}</ion-text>
        </ion-row>
        <ion-row class="ion-padding-horizontal">
        <ion-text><strong style="color:black">Quantite : &ensp;</strong><strong style="color:#2dd36f"*ngIf="besoin.quantite_actuelle>=besoin.quantite">{{besoin.quantite_actuelle}}</strong>
          <strong style="color:#ec566a" *ngIf="besoin.quantite_actuelle<besoin.quantite">{{besoin.quantite_actuelle}}</strong> &ensp; / &ensp; <strong>{{besoin.quantite}}</strong> </ion-text>
        </ion-row>
        <ion-item lines="none" style="padding:0;margin:0">
          <ion-button shape="circle" color="danger" [routerLink]="['/creation-association-don',besoin.association.id,id,besoin.id]" slot="end">
            <ion-icon size="large" name="gift-outline"></ion-icon>
          </ion-button>
        </ion-item>
       </ion-card>
     </ion-grid>
</ion-content>
