<ion-header>
  <ion-row style="width: 100%;">
    <ion-col class="logo" size="10">
      <ion-text class="title">BRIDGE</ion-text>
      
    </ion-col>
    <ion-col>
      <ion-col size="2" style="text-align:center;margin-left:5%"> 
        <ion-icon name="notifications" size="large" color="warning"></ion-icon>
        <ion-badge style="position:absolute;top:0;right:0" color="danger">2</ion-badge>
      </ion-col>
    </ion-col>
  </ion-row>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment" color="danger">
    <ion-segment-button value="annonces">
      <ion-label>Annonces</ion-label>
    </ion-segment-button>
    <ion-segment-button value="evenements">
      <ion-label>Evenements</ion-label>
    </ion-segment-button>
    <ion-segment-button value="demandes">
      <ion-label>Demandes</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="danger"></ion-refresher-content>
  </ion-refresher>
    <ion-list *ngIf="selectedSegment=='annonces'">
      <ion-card *ngFor="let annonce of Annonces">
        <div [routerLink]="['/details-annonce',annonce.id]" style="padding:0;margin:0;height:180px;width:100%;background-size:cover;background-position: center;
        background-image: url({{annonce.media.length>0?storage+annonce.media[0].filePath:'../../../../assets/images/user.png'}})">
        </div>
        <ion-item  [routerLink]="['/details-association',annonce.association.id]" style="width:100%;" lines="none" class="ion-no-padding ion-no-margin">
          <ion-thumbnail class="ion-margin-start" slot="start" >
            <img style="border-radius:10px" [src]="annonce.association.media.length>0?storage+annonce.association.media[0].filePath:'../../../../assets/images/user.png'" />
          </ion-thumbnail>
          <ion-col style="text-align: left">
            <ion-row >
             <ion-text style="font-weight: bold;font-size: 1.1em;">{{annonce.association.name}}</ion-text>
            </ion-row >
            <ion-row style="margin-top:2%">
              <ion-text style="color:gray;font-size:0.8em">{{annonce.association.type |slice:0:30}}{{annonce.association.type.length>30?'....':''}}</ion-text>
            </ion-row >
          </ion-col>
        </ion-item>
        <ion-item style="width:100%;padding:0;margin:0" lines="none"  [routerLink]="['/details-annonce',annonce.id]">
          <ion-text style="font-weight:bold;text-align: center;font-size: 1em;">{{annonce.title | slice:0:30}}{{annonce.title.length > 30 ? '&hellip;':'' }}</ion-text>
        </ion-item>
        <ion-item lines="none" [routerLink]="['/details-annonce',annonce.id]">
          <ion-text style="color:gray;font-size:0.8em">
          {{annonce.intitule| slice:0:200}}{{annonce.intitule.length > 200 ? '&hellip;':'' }}
          </ion-text>
        </ion-item>
        <ion-row style="width:100%">
          <ion-item lines="none"  style="width: 100%;" *ngIf="annonce.isLike==false">
              <ion-text slot="end" style="margin-top:10px">{{annonce.nbLikes}}</ion-text>
              <ion-icon slot="end" (click)="like(annonce.id)"  name="heart-outline" size="large" ></ion-icon>
          </ion-item>
           <ion-item lines="none"  style="width: 100%;" *ngIf="annonce.isLike==true">
              <ion-text slot="end" style="margin-top:10px">{{annonce.nbLikes}}</ion-text>
              <ion-icon slot="end" (click)="dislike(annonce.id)"  name="heart" color="danger" size="large" ></ion-icon>
          </ion-item>
        </ion-row>
      </ion-card>
    </ion-list>
  <ion-grid *ngIf="selectedSegment=='evenements'">
    <ion-card *ngFor="let event of Mouvements" lines="none" class="ion-padding-bottom">
      <div  [routerLink]="['/details-evenement',event.id]" style="padding:0;position:relative;margin:0;height:180px;width:100%;background-size:cover;background-position: center;
      background-image: url({{event.media.length>0?storage+event.media[0].filePath:'../../../../assets/images/user.png'}})">
    <ion-button style="position:absolute;float:right">
    <ion-icon name="walk-outline"></ion-icon>
    <ion-text color="light" style="font-weight:bold;margin-top:7px">{{event.nbparticipants}}&ensp;participants</ion-text>
    </ion-button>  
    </div>
      <ion-item style="width:100%;" lines="none"  [routerLink]="['/details-association',event.association.id]">
        <ion-thumbnail slot="start" >
          <img style="border-radius:10px" [src]="event.association.media.length>0?storage+event.association.media[0].filePath:'../../../../assets/images/user.png'" />
        </ion-thumbnail>
        <ion-col style="text-align: left">
          <ion-row>
           <ion-text style="font-weight: bold">{{event.association.name}}</ion-text>
          </ion-row>
          <ion-row style="margin-top:2%">
            <ion-text style="color:gray"> {{event.association.type}}</ion-text>
          </ion-row>
        </ion-col>
      </ion-item>
      <ion-row style="width:100%;margin-left:0" class="ion-margin-horizontal"  [routerLink]="['/details-evenement',event.id]">
        <ion-col size="12">
        <ion-row style="display:flex;">
          <ion-icon name="information-outline" color="danger" size="small"></ion-icon>
          <ion-text style="font-weight:bold;color:black;text-align: center;font-size: 1.2em;align-self: center;margin-left: 2%;" class="ion-margin-horizontal">{{event.intitule | slice:0:30}}{{event.intitule > 30 ? '&hellip;':'' }}</ion-text>  
        </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="width:100%;margin-left:0" class="ion-margin-horizontal"  [routerLink]="['/details-evenement',event.id]">
          <ion-col size="12">
          <ion-row style="display:flex;">
            <ion-icon name="today-outline" size="small" color="danger"></ion-icon>
            <ion-text style="color:gray;font-size: 1.1em;align-self: center;margin-left: 2%;"><strong>{{event.date_rencontre | date:'MMM d, y'}} &ensp;</strong> <strong>&ensp;|&ensp;</strong></ion-text>
            <ion-text style="color:gray;font-size:1.1em;align-self: center;"> &ensp;de &ensp;<strong>{{event.heure_debut}}</strong> &ensp; a &ensp; <strong>{{event.heure_fin}}</strong></ion-text>
          </ion-row>
          </ion-col>
        </ion-row>
        <!------------------------->
        <ion-row style="width:100%;margin-left:0;margin-top:0" class="ion-margin-horizontal" [routerLink]="['/details-evenement',event.id]"> 
           <ion-col size="12">
            <ion-row style="display:flex;">
              <ion-icon name="location-outline" size="small" color="danger"></ion-icon>
              <ion-text style="color:gray;font-size: 1.1em;align-self: center;margin-left: 2%;">{{event.association.adresse}}</ion-text>
            </ion-row>
           </ion-col>
        </ion-row>
        <!-- <ion-row style="width:100%">
          <ion-col size="7"></ion-col>
          <ion-col size ="5">
            <ion-button color="danger"  [routerLink]="['/details-evenement',event.id]">
              <ion-text>consulter</ion-text>
            </ion-button>
          </ion-col>
          </ion-row> -->
    </ion-card>
     </ion-grid>
</ion-content>
