<ion-header>
  <ion-row style="width: 100%;">
    <ion-col class="logo" size="10">
      <ion-text class="title">BRIDGE</ion-text>
      
    </ion-col>
    <ion-col>
      <ion-col size="2" style="text-align:center;margin-left:5%"> 
        <ion-icon name="notifications" size="large" color="warning"></ion-icon>
        <ion-badge style="position:absolute;top:0;right:0" color="danger">2</ion-badge>
      </ion-col>
    </ion-col>
    <!-- <ion-col>
      <ion-row style="width:100%">
        <ion-col size="3" [routerLink]="['/profil-donateur',id]" style="text-align:left;height: 100%;">
          <ion-icon name="person-circle-outline" size="large" color="danger" ></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-text style="color:gray;font-weight: bold;position:absolute;top:30%;">{{myData.name | slice:0:15}}&ensp;{{myData.surname | slice:0:10}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-col> -->
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-segment  scrollable>
       <ion-chip>
        <ion-icon name="options-outline" size="large"></ion-icon>
        <ion-text>Filter</ion-text>
       </ion-chip>
       <ion-chip>
       <ion-text>Category</ion-text>
       <ion-icon name="chevron-down-outline"></ion-icon>
       </ion-chip>
      </ion-segment>
    </ion-col>
  </ion-row>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment" color="danger">
    <ion-segment-button value="annonces">
      <ion-label>Annonces</ion-label>
    </ion-segment-button>
    <ion-segment-button value="evenements">
      <ion-label>Evenements</ion-label>
    </ion-segment-button>
    <ion-segment-button value="demandes">
      <ion-label>Demandes</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
    <ion-list *ngIf="selectedSegment=='annonces'">
      <ion-card *ngFor="let annonce of Annonces" [routerLink]="['detailsAnnonce',1]">
        <ion-img [src]="annonce.media.length>0?storage+annonce.media[0].filePath:'../../../../assets/images/user.png'"></ion-img>
        <ion-item style="width:100%;" lines="none" class="ion-no-padding ion-no-margin">
          <ion-thumbnail class="ion-margin-start" slot="start" >
            <img style="border-radius:10px" [src]="annonce.association.media.length>0?storage+annonce.association.media[0].filePath:'../../../../assets/images/user.png'" />
          </ion-thumbnail>
          <ion-col style="text-align: left">
            <ion-row >
             <ion-text style="font-weight: bold">{{annonce.association.name}}</ion-text>
            </ion-row >
            <ion-row style="margin-top:2%">
              <ion-text style="color:gray">{{annonce.association.type}}</ion-text>
            </ion-row>
          </ion-col>
        </ion-item>
        <ion-item style="width:100%" lines="none">
          <ion-text style="font-weight:bold;text-align: center;">{{annonce.title | slice:0:30}}{{annonce.title.length > 30 ? '&hellip;':'' }}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text style="color:gray">
          {{annonce.intitule| slice:0:200}}{{annonce.intitule.length > 200 ? '&hellip;':'' }}
          </ion-text>
        </ion-item>
        <ion-item lines="none" style="width:100%;margin-top: 15px;margin-bottom:15px">
          <ion-icon name="heart-outline" size="large"></ion-icon>
          <ion-chip slot="end" color="warning" style="padding: 20px;">
              <img src="../../../../assets/images/gift.png">
              <ion-text >Soutenir</ion-text>
          </ion-chip>
        </ion-item>
      </ion-card>
    </ion-list>
  <ion-grid *ngIf="selectedSegment=='evenements'">
    <ion-card *ngFor="let event of Mouvements" lines="none" [routerLink]="['detailsEvenement',1]">
      <ion-img [src]="event.media.length>0?storage+event.media[0].filePath:'../../../../assets/images/user.png'"></ion-img>
      <ion-item style="width:100%;" lines="none">
        <ion-thumbnail slot="start" >
          <img style="border-radius:10px" [src]="event.association.media.length>0?storage+event.association.media[0].filePath:'../../../../assets/images/user.png'" />
        </ion-thumbnail>
        <ion-col style="text-align: left">
          <ion-row>
           <ion-text style="font-weight: bold">{{event.association.name}}</ion-text>
          </ion-row>
          <ion-row style="margin-top:2%">
            <ion-text style="color:gray"> {{event.association.type}}</ion-text>
          </ion-row>
        </ion-col>
      </ion-item>
      <ion-item style="width:100%" lines="none">
        <ion-text style="font-weight:bold;text-align: center;">{{event.intitule | slice:0:30}}{{event.intitule > 30 ? '&hellip;':'' }}</ion-text>
      </ion-item>
      <ion-item style="width:100%;" lines="none">
        <ion-icon name="today-outline" size="large" slot="start"></ion-icon>
        <ion-text style="color:gray">{{event.date_rencontre}} | </ion-text>
        <ion-text style="color:gray"> &ensp;{{event.heure_debut}} - {{event.heure_fin}}</ion-text>
      </ion-item>
      <ion-item style="width:100%;" lines="none"> 
        <img src="../../../../assets/images/location.png" slot="start">
        <ion-text style="color:gray">yaounde , bastos , marche central</ion-text>
      </ion-item>
      <ion-item lines="none" style="margin-top:10px">
        <ion-text style="color:gray">
        {{event.description| slice:0:200}}{{event.description.length > 200 ? '&hellip;':'' }}
        </ion-text>
      </ion-item>
      <ion-item lines="none" style="width:100%;margin-top: 15px;margin-bottom:15px">
        <ion-button expand="block" color="success"> Participer</ion-button>
        <ion-chip slot="end" color="warning" style="padding: 20px;">
            <img src="../../../../assets/images/gift.png">
            <ion-text>Soutenir</ion-text>
        </ion-chip>
      </ion-item>
    </ion-card>
     </ion-grid>
</ion-content>
