
<ion-content>
  <ion-card *ngFor="let event of Mouvements" lines="none" class="ion-padding-bottom">
    <div  [routerLink]="['/details-evenement',event.id]" style="padding:0;margin:0;height:180px;width:100%;background-size:cover;background-position: center;
    background-image: url({{event.media.length>0?storage+event.media[0].filePath:'../../../../assets/images/user.png'}})">
    </div>
    <ion-item style="width:100%;" lines="none" (click)="confirm()" [routerLink]="['/details-association',event.association.id]">
      <ion-thumbnail slot="start" >
        <img style="border-radius:10px" [src]="event.association.media.length>0?storage+event.association.media[0].filePath:'../../../../assets/images/user.png'" />
      </ion-thumbnail>
      <ion-col style="text-align: left">
        <ion-row>
         <ion-text style="font-weight: bold">{{event.association.name}}</ion-text>
        </ion-row>
        <ion-row style="margin-top:2%">
          <ion-text style="color:gray"> {{event.association.type}}</ion-text>
        </ion-row>
      </ion-col>
    </ion-item>
    <ion-row style="width:100%;margin-left:0" class="ion-margin-horizontal" (click)="confirm()" [routerLink]="['/details-evenement',event.id]">
      <ion-col size="12">
      <ion-row style="display:flex;">
        <ion-icon name="information-outline" color="primary" size="small"></ion-icon>
        <ion-text style="font-weight:bold;color:black;text-align: center;font-size: 1.2em;align-self: center;margin-left: 2%;" class="ion-margin-horizontal">{{event.intitule | slice:0:30}}{{event.intitule > 30 ? '&hellip;':'' }}</ion-text>  
      </ion-row>
      </ion-col>
    </ion-row>
    <ion-row style="width:100%;margin-left:0" class="ion-margin-horizontal" (click)="confirm()" [routerLink]="['/details-evenement',event.id]">
        <ion-col size="12">
        <ion-row style="display:flex;">
          <ion-icon name="today-outline" size="small" color="primary"></ion-icon>
          <ion-text style="color:gray;font-size: 1.1em;align-self: center;margin-left: 2%;"><strong>{{event.date_rencontre | date:'MMM d, y'}} &ensp;</strong> <strong>&ensp;|&ensp;</strong></ion-text>
          <ion-text style="color:gray;font-size:1.1em;align-self: center;"> &ensp;de &ensp;<strong>{{event.heure_debut}}</strong> &ensp; a &ensp; <strong>{{event.heure_fin}}</strong></ion-text>
        </ion-row>
        </ion-col>
      </ion-row>
      <!------------------------->
      <ion-row style="width:100%;margin-left:0;margin-top:0" class="ion-margin-horizontal" (click)="confirm()" [routerLink]="['/details-evenement',event.id]"> 
         <ion-col size="12">
          <ion-row style="display:flex;">
            <ion-icon name="location-outline" size="small" color="primary"></ion-icon>
            <ion-text style="color:gray;font-size: 1.1em;align-self: center;margin-left: 2%;">{{event.association.adresse}}</ion-text>
          </ion-row>
         </ion-col>
      </ion-row>
      <!-- <ion-row style="width:100%">
        <ion-col size="7"></ion-col>
        <ion-col size ="5">
          <ion-button color="primary" (click)="confirm()" [routerLink]="['/details-evenement',event.id]">
            <ion-text>consulter</ion-text>
          </ion-button>
        </ion-col>
        </ion-row> -->
  </ion-card>
</ion-content>
