<ion-header>
  <ion-toolbar>
    <ion-icon (click)="navBack()" name="chevron-back-outline" size="large" color="danger" slot="start"></ion-icon>
    <ion-title *ngIf="Annonce!=null" style="font-size:1.8em;font-weight:bolder">
      {{Annonce.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="Annonce!=null">
        <ion-slides pager="true" [options]="slideOpts" *ngIf="Annonce!=null">
          <ion-slide *ngFor="let img of Annonce.media" style="max-height:150px">
            <ion-img [routerLink]="['/image',img.id]"
            [src]="storage+img.filePath"
              class="imgProduct"></ion-img>
          </ion-slide>
          <ion-slide *ngIf="Annonce.media.length<1" style="background-image:url('../../../../assets/images/empty.webp')">
          </ion-slide>
        </ion-slides>
       <ion-grid style="width: 100%;padding:0;margin:0">
          <ion-item>
            <ion-text style="color:#acacac;"> publie&ensp;<strong >{{elapsedTime}}</strong> </ion-text>
          </ion-item>
            <ion-item lines="none" style="margin:0;padding:0;margin-top:5%">
              <ion-col size="12" style="margin:0;padding:0">
              <ion-text style="color:rgb(0, 0, 0);margin-top:10px ;">{{Annonce.intitule}}</ion-text>
              </ion-col>
            </ion-item>
            <ion-row style="width:100%">
              <ion-item lines="none"  style="width: 100%;" *ngIf="Annonce.isLike==false">
                  <ion-text slot="end" style="margin-top:10px">{{Annonce.nbLikes}}</ion-text>
                  <ion-icon slot="end" (click)="like(Annonce.id)"  name="heart-outline" size="large" ></ion-icon>
              </ion-item>
               <ion-item lines="none"  style="width: 100%;" *ngIf="Annonce.isLike==true">
                  <ion-text slot="end" style="margin-top:10px">{{Annonce.nbLikes}}</ion-text>
                  <ion-icon slot="end" (click)="dislike(Annonce.id)"  name="heart" color="danger" size="large" ></ion-icon>
              </ion-item>
            </ion-row>
            
       </ion-grid>
       <div style="margin-bottom:10%"></div>
    </div>
   
</ion-content>
<ion-card style="padding:0;margin:0">
  <ion-row>
    <ion-col size="2" *ngIf="Annonce!=null">
      <ion-thumbnail>
      <img style="border-radius:10px" [src]="Annonce.association.media.length>0?storage+Annonce.association.media[0].filePath:'../../../../assets/images/community.png'" />
      </ion-thumbnail>
    </ion-col>
    <ion-col size="5"class="ion-margin-top" *ngIf="Annonce!=null">
            <ion-text style="font-weight: bold;color: black;font-size: 1.3em;">{{Annonce.association.name}}</ion-text>
    </ion-col>
    <ion-col size="5">
      <ion-chip color="warning" style="padding: 20px;">
        <img src="../../../../assets/images/gift.png">
        <ion-text>Soutenir</ion-text>
    </ion-chip>
    </ion-col>
    
      
  </ion-row>
  
</ion-card>
