<ion-content>
  <ion-row slot="fixed">
    <ion-fab style="margin-top:5px" horizontal="start" (click)="navBack()">
      <ion-fab-button color="light">
          <ion-icon name="chevron-back-outline" size="large" color="danger"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab style="margin-top:5px" horizontal="end">
      <ion-fab-button color="light">
        <ion-icon name="heart-outline" size="large" slot="end"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </ion-row>
    <div *ngIf="Annonce!=null">
        <ion-slides pager="true" [options]="slideOpts" *ngIf="Annonce!=null">
          <ion-slide *ngFor="let img of Annonce.media" style="max-height:150px">
            <ion-img
            [src]="storage+img.filePath"
              class="imgProduct"></ion-img>
          </ion-slide>
          <ion-slide *ngIf="Annonce.media.length<1" style="background-image:url('../../../../assets/images/empty.webp')">
          </ion-slide>
        </ion-slides>
       <ion-grid style="width: 100%;padding:0;margin:0">
          <ion-item lines="none" style="margin-top:10px;--background:#3880ff">
            <ion-text style="font-weight: bold;font-size:1.3em" color="light">{{Annonce.title}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-text style="color:#3880ff;"> publie&ensp;<strong >{{elapsedTime}}</strong> </ion-text>
          </ion-item>
            <ion-item lines="none" style="margin:0;padding:0;margin-top:5%">
              <ion-col size="12" style="margin:0;padding:0">
              <ion-text style="color:gray;margin-top:10px ;">{{Annonce.intitule}}</ion-text>
              </ion-col>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="heart-outline" slot="end"></ion-icon>
            </ion-item>
            
       </ion-grid>
       <div style="margin-bottom:10%"></div>
    </div>
   
</ion-content>
<ion-card style="padding:0;margin:0">
  <ion-row>
    <ion-col size="2" *ngIf="Annonce!=null">
      <ion-thumbnail>
      <img style="border-radius:10px" [src]="Annonce.association.media.length>0?storage+Annonce.association.media[0].filePath:'../../../../assets/images/community.png'" />
      </ion-thumbnail>
    </ion-col>
    <ion-col size="5"class="ion-margin-top" *ngIf="Annonce!=null">
            <ion-text style="font-weight: bold;color: black;font-size: 1.3em;">{{Annonce.association.name}}</ion-text>
    </ion-col>
    <ion-col size="5">
      <ion-chip color="warning" style="padding: 20px;">
        <img src="../../../../assets/images/gift.png">
        <ion-text>Soutenir</ion-text>
    </ion-chip>
    </ion-col>
    
      
  </ion-row>
  
</ion-card>
