
.hello-text{
    font-weight:bolder;
    text-align: center;
    }
.input{
        border: 0.5px solid rgb(206, 204, 204);
        border-radius: 10px;
    }
    .signupMessage{
        text-align: right;
    }
    .signup{
        text-align: left;
        text-decoration: underline;
        text-decoration-color: #eb445a;
    }
    .rowSignup{
        width: 100%;
        text-align: right;
    }