<ion-header>
  <ion-row style="width: 100%;">
    <ion-col class="logo" size="10">
      <ion-text class="title">BRIDGE</ion-text>
      
    </ion-col>
    <ion-col>
      <ion-col size="2" style="text-align:center;margin-left:5%"> 
        <ion-icon name="notifications" size="large" color="warning"></ion-icon>
        <ion-badge style="position:absolute;top:0;right:0" color="danger">2</ion-badge>
      </ion-col>
    </ion-col>
    <!-- <ion-col>
      <ion-row style="width:100%">
        <ion-col size="3" [routerLink]="['/profil-donateur',id]" style="text-align:left;height: 100%;">
          <ion-icon name="person-circle-outline" size="large" color="danger" ></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-text style="color:gray;font-weight: bold;position:absolute;top:30%;">{{myData.name | slice:0:15}}&ensp;{{myData.surname | slice:0:10}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-col> -->
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-segment scrollable>
       <ion-chip style="padding:0;border-radius:20%" color="danger">
        <ion-icon name="options-outline" color="danger" size="large" style="text-align:center;margin-right:5px"></ion-icon>
       </ion-chip>
       <ion-chip (click)="openModal()">
       <ion-text>Category</ion-text>
       <ion-badge color="danger" style="margin-left:2px">{{selectedCategory.length}}</ion-badge>
       <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-chip>
       <ion-chip (click)="openModalEtat()">
        <ion-text>Etat</ion-text>
        <ion-badge color="danger" style="margin-left:2px">{{selectedEtat.length}}</ion-badge>
        <ion-icon name="chevron-down-outline"></ion-icon>
       </ion-chip>
       <ion-chip class="chip" color="success" (click)="refreshFilter()"  style="padding:0;border-radius:100%">
        <ion-icon name="refresh-outline" size="large" style="margin-left:5px"></ion-icon>
        </ion-chip>
      </ion-segment>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content color="danger"></ion-refresher-content>
  </ion-refresher>
  <ion-grid style="text-align:center;margin-top:15%" *ngIf="dons.length<1">
      <img src="../../../../assets/images/no-results.png" class="ion-margin-vertical">
      <ion-item lines="none"style="text-align:center;width: 100%;" class="ion-margin-vertical">
        <ion-text style="color:rgb(64, 64, 64)">Aucun don disponible dans cette categorie</ion-text>
      </ion-item>
      <ion-button (click)="refresh()" expand="block" class="ion-margin-horizontal" color="danger" class="ion-margin-vertical" style="font-weight:bold;margin-left: 20%;margin-right:20%">raffraichir la page</ion-button>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="danger" routerLink="/creation-dons">
        <ion-icon name="gift-outline" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/creation-demandes">
        <ion-icon name="hand-left-outline" size="large" color="danger"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid style="display: flex; flex-wrap:wrap;justify-content: space-between;">
    <div *ngFor="let don of dons" style="width:50%">
      <ion-card  style="width:90%;position: relative;" [routerLink]="['/menu/dons/details',don.id]">
        <div *ngIf="don.nombre_reserve>0" style="position: absolute;top:45%; height: 10%;width: 50%;background-color:#ec566a">
        <ion-text style="font-weight:bold;position:absolute;color:white;text-align:center;margin-top:5%;margin-left: 5%;">Reserve</ion-text>
        </div>
        <div style="width:100%;height:150px;margin:0;padding:0;background-size:cover; opacity: {{don.nombre_reserve>0?0.5:1}};
        background-image: url({{image(don)}});">   
        </div>
          <ion-row style="margin-top:2%" >
            <ion-text style="font-weight: bolder;font-size:1.3em;margin-left:2%;width:100%;padding:2%"color="dark">
              {{don.titre | slice:0:12}}{{don.titre.length>12?'...':''}}</ion-text>
          </ion-row>
          <ion-text style="font-weight: bolder;font-size:1.3em;width:100%;margin-left:2%;padding:2%"color="medium" [routerLink]="['/menu/dons/details',don.id]">
            {{don.adresse | slice:0:12}}{{don.adresse.length>12?'...':''}}</ion-text>
          <ion-row style="margin-top:10px;padding:0;width:100%;display: flex;" [routerLink]="['/menu/dons/details',don.id]">
            <ion-col size="2" style="padding-right:0;text-align: right;"><ion-icon name="timer-outline" color="dark"style="font-weight:bold" size="medium" style="padding-right:0"></ion-icon></ion-col>
            <ion-col style="padding-left:0"> <ion-text style="margin-left:8px;font-size:1.1em;font-weight: bolder; padding:0;width:100%;" color="dark">{{timeAgo(don.created_at) | slice:7}}</ion-text></ion-col> 
        </ion-row>
            
      </ion-card>
  </div>
<ion-infinite-scroll class="scroll-content" threshold="100px" id="infinite-scroll" (ionInfinite)="loadData($event)" >
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Chargement de dons...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-grid>
</ion-content>
