<ion-header class="ion-no-border">
  <ion-row style="width: 100%;">
    <ion-col class="logo" size="10">
      <ion-text class="title">BRIDGE</ion-text>
      
    </ion-col>
    <ion-col>
      <ion-col size="2" style="text-align:center;margin-left:5%" [routerLink]="['/notifications',id]"> 
        <ion-icon name="notifications" size="large" color="warning"></ion-icon>
      </ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-segment scrollable>
       <ion-chip class="chip" color="danger" style="padding:0;border-radius: 20%;">
        <ion-icon name="options-outline" color = 'danger' size="large" style="margin-right:5px"></ion-icon>
       </ion-chip>
       <ion-chip class="chip" (click)="openModal()">
       <ion-text>Category</ion-text>
       <ion-badge color="danger" style="margin-left:2px;border-radius: 100%;">{{selectedCategory.length}}</ion-badge>
       <ion-icon name="chevron-down-outline"></ion-icon>
       </ion-chip>
       <ion-chip class="chip" color="success" (click)="refreshFilter()" style="padding:0;border-radius:100%" >
        <ion-icon name="refresh-outline" color="success" size="large" ></ion-icon>
        </ion-chip>
      </ion-segment>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="danger"></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="loadingDemandes == true">
    <ion-card *ngFor="let i of [1,1,1,1,1,1]"> 
    <ion-item >
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text [animated]="true" style="width: 30%;" slot="start"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="width: 70%;"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text [animated]="true" style="width: 30%;" slot="start"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="width: 70%;"></ion-skeleton-text>
    </ion-item>
  </ion-card>
  </ion-list>
 
  <ion-grid style="text-align:center;margin-top:15%" *ngIf="is_null_Demande">
    <img src="../../../../assets/images/emptydemande.png" class="ion-margin-vertical">
    <ion-item lines="none"style="text-align:center;width: 100%;" class="ion-margin-vertical">
      <ion-text style="color:rgb(64, 64, 64);width: 100%">Aucune demande disponible dans cette categorie</ion-text>
    </ion-item>
    <ion-button (click)="refresh()" expand="block" class="ion-margin-horizontal" color="danger" class="ion-margin-vertical" style="font-weight:bold;margin-left: 20%;margin-right:20%">reessayer</ion-button>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="danger" routerLink="/creation-dons">
        <ion-icon name="gift-outline" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/creation-demandes">
        <ion-icon name="hand-left-outline" size="large" color="danger"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-row *ngIf="!is_null_Demande">
    <div *ngFor="let demand of demandes" style="width: 95%">
      <ion-card style="width: 100%;" [routerLink]="['details',demand.id]">
        <ion-row style="width: 100%;margin-top:5%">
          <ion-thumbnail class="ion-margin-start">
            <img style="border-radius:10px;margin-right:5%" [src]="demand.donateur.media.length>0?storage+demand.donateur.media[0].filePath:'assets/images/user.png'" />
          </ion-thumbnail>
          <ion-col style="text-align: left;margin-left:5%">
            <ion-row>
             <ion-text style="font-weight: bold">{{demand.donateur.name}}  {{demand.donateur.surname | slice:0:8 }}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text style="color:gray"> donateur/necessiteux</ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
         
        <ion-item style="width:100%;">
          <ion-text style="color:gray" slot="start">Besoin:</ion-text>
          <ion-text> {{demand.title}}</ion-text>
        </ion-item>
        <ion-item style="width:100%;">
          <ion-text style="color:gray" slot="start">Date:</ion-text>
          <ion-text> {{demand.created_at | date:'medium'}}</ion-text>
        </ion-item>
        <ion-item style="width:100%;">
          <ion-text style="color:gray" slot="start">Adresse:</ion-text>
          <ion-text  style="vertical-align: middle;justify-self: center;"> {{demand.adresse}} </ion-text>
        </ion-item>
    </ion-card> 
    </div>
   
  </ion-row>
  </ion-content>