<ion-header class="ion-no-border">
  <ion-row>
  <ion-col class="logo" size="5">
    <ion-title class="title">BRIDGE</ion-title>
  </ion-col>
  <ion-col style="margin-left:30%">
      <ion-col size="3" style="text-align:center" style="position:relative">
        
        <ion-icon name="notifications" size="large" color="warning"></ion-icon>
        <ion-badge style="position:absolute;top:0;right:0" color="danger">2</ion-badge>
      </ion-col>
      <ion-col size="4" [routerLink]="['/profil-donateur',id]" style="text-align:right;margin-left:16px">
        <ion-icon name="person-circle-outline" size="large" color="danger" ></ion-icon>
      </ion-col>
  </ion-col>
</ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-segment scrollable>
       <ion-chip class="chip" color="danger" style="padding:0;border-radius: 20%;">
        <ion-icon name="options-outline" color = 'danger' size="large" style="margin-right:5px"></ion-icon>
       </ion-chip>
       <ion-chip class="chip" (click)="openModal()">
       <ion-text>Category</ion-text>
       <ion-badge color="danger" style="margin-left:2px;border-radius: 100%;">{{selectedCategory.length}}</ion-badge>
       <ion-icon name="chevron-down-outline"></ion-icon>
       </ion-chip>
       <ion-chip class="chip" color="success" (click)="refreshFilter()" style="padding:0;border-radius:100%" >
        <ion-icon name="refresh-outline" color="success" size="large" ></ion-icon>
        </ion-chip>
      </ion-segment>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="danger"></ion-refresher-content>
  </ion-refresher>
  <ion-grid style="text-align:center;margin-top:15%" *ngIf="demandes.length<1">
    <img src="../../../../assets/images/emptydemande.png" class="ion-margin-vertical">
    <ion-item lines="none"style="text-align:center;width: 100%;" class="ion-margin-vertical">
      <ion-text style="color:rgb(64, 64, 64)">Aucune demande disponible dans cette categorie</ion-text>
    </ion-item>
    <ion-button (click)="refresh()" expand="block" class="ion-margin-horizontal" color="danger" class="ion-margin-vertical" style="font-weight:bold;margin-left: 20%;margin-right:20%">reessayer</ion-button>
  </ion-grid>
  <ion-row>
    <div *ngFor="let demand of demandes" style="width: 95%">
      <ion-card *ngIf="selectedCategory.indexOf(demand.category)!=-1 || selectedCategory.length<1 " style="width: 100%;" [routerLink]="['details',demand.id]">
        <ion-row style="width: 100%;margin-top:5%">
          <ion-thumbnail class="ion-margin-start">
            <img style="border-radius:10px;margin-right:5%" [src]="demand.donateur.media.length>0?storage+demand.donateur.media[0].filePath:'assets/images/user.png'" />
          </ion-thumbnail>
          <ion-col style="text-align: left;margin-left:5%">
            <ion-row>
             <ion-text style="font-weight: bold">{{demand.donateur.name}}  {{demand.donateur.surname | slice:0:8 }}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text style="color:gray"> donateur/necessiteux</ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
         
        <ion-item style="width:100%;">
          <ion-text style="color:gray" slot="start">Besoin:</ion-text>
          <ion-text> {{demand.title}}</ion-text>
        </ion-item>
        <ion-item style="width:100%;">
          <ion-text style="color:gray" slot="start">Date:</ion-text>
          <ion-text> {{demand.created_at | date:'medium'}}</ion-text>
        </ion-item>
        <ion-item style="width:100%;">
          <ion-text style="color:gray" slot="start">Adresse:</ion-text>
          <ion-text  style="vertical-align: middle;justify-self: center;"> {{demand.adresse}} </ion-text>
        </ion-item>
    </ion-card> 
    </div>
   
  </ion-row>
  </ion-content>