
.grid{
    margin-top:10%;
}
.hello-text{
font-weight:bolder;
text-align: center;
}
.input{
    border: 0.5px solid rgb(206, 204, 204);
    border-radius: 10px;
}
.google_elt{
    margin-top:2%;
    align-self: center;
    text-align: center;
}
.signupMessage{
}
.signup{
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #ec566a;
}
.rowSignup{
    width: 100%;
    text-align: right;
}