
<ion-content>
  <ion-list class="ion-justify-content-between">
    <ion-item (click)="electromenagerSheet()">
      <ion-icon name="build-outline" slot="start"></ion-icon>
      <ion-text>Electromenager</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="modebeautySheet()">
      <ion-icon name="shirt-outline" slot="start"></ion-icon>
      <ion-text>Mode,beaute & accessoire</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="universbebeSheet()">
      <ion-icon name="logo-reddit" slot="start"></ion-icon>
      <ion-text>Univers bebe</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="maison_ammeublementSheet()">
      <ion-icon name="bed-outline" slot="start"></ion-icon>
      <ion-text>Maison & ameublement</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="electroniqueSheet()">
      <ion-icon name="laptop-outline" slot="start"></ion-icon>
      <ion-text>High-tech & electronique</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="culture_sport_loisir_Sheet()">
      <ion-icon name="bicycle-outline" slot="start"></ion-icon>
      <ion-text>Culture,sports & loisirs</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="jardin_bricolage_Sheet()">
      <ion-icon name="leaf-outline" slot="start"></ion-icon>
      <ion-text>jardin & bricolage</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="monde_animaux_Sheet()">
      <ion-icon name="paw-outline" slot="start"></ion-icon>
      <ion-text>Monde des animaux</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button color="danger" expand="block" class="ion-margin-horizontal"(click)='confirm()'>Valider</ion-button>
</ion-content>
